[Desktop Entry]
Version=1.0
Type=Application
Name=Anaconda Navigator
GenericName=Anaconda
Icon=spyder3
Exec=bash -c 'export PATH="/home/[***SET LOCATION***]/anaconda3/bin:$PATH" && /home/elitebook/anaconda3/bin/anaconda-navigator'
Path=/home/elitebook/anaconda3/
NoDisplay=false
Categories=Development;Education;IDE;Science;
StartupNotify=true
Terminal=false
