[Desktop Entry]
Version=1.0
Type=Application
Name=Anaconda3
GenericName=Anaconda
Icon=/home/[username]/.local/share/applications/anaconda.png
Exec=bash -c 'export PATH="/home/[username]/anaconda3/bin:$PATH" && /home/[username]/anaconda3/bin/anaconda-navigator'
Path=/home/[username]/anaconda3/
NoDisplay=false
Categories=Development;Education;IDE;Science;
StartupNotify=true
Terminal=false
